{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
История рейсов
{% endblock %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="card card-body content grid gap-3">
        <h2 class="card-title">История рейсов</h2>
        <hr>
        {% if routes %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Примерная длительность</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
                <td>{{ route.date }}</td>
                <td>{{ route.duration }} ч.</td>
                <td>{{ route.price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Ваша история пуста</p>
        {% endif %}
    </div>
</div>
{% endblock %}