{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container pt-3 pb-3">
    <div class="card card-body content grid gap-3">
        <h2 class="card-title"></h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form | crispy }}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Станция</th>
                    <th scope="col">Подтвердить</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                <tr>

                    <td>{{ form.instance.station.name }}</td>
                    <td>
                        {{ form | crispy }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value="Сохранить">
        </form>
    </div>
</div>
{% endblock %}