{% extends "base.html" %}

{% load static %}

{% block title %}
Ваши поездки
{% endblock %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="card card-body content grid gap-3">
        <h2 class="card-title">Ваши поездки</h2>
        <hr>
        {% if applications %}
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата и время</th>
                    <th scope="col">Точка отправления</th>
                    <th scope="col">Точка прибытия</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Водитель</th>
                </tr>
                </thead>
                <tbody>
                {% for record in applications %}
                <tr>
                    <th scope="row"><a href="{{ record.get_absolute_url }}">{{ record.pk }}</a></th>
                    <td>{{ record.date }}</td>
                    <td>{{ record.arrival }}</td>
                    <td>{{ record.departure }}</td>
                    {% if record.route is not None %}
                    <td>
                        {{ record.route.price }}
                    </td>
                    <td>
                        {{ record.route.driver.last_name }} {{ record.route.driver.first_name }}
                    </td>
                    {% else %}
                    <td colspan="2">
                    Маршрут на подтверждении
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Вы пока не создали ни одной заявки.</p>
        {% endif %}
    </div>
</div>
{% endblock %}